* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr {
  width: 500px
}
header, footer{
  background:#191970;
  color: white;
  text-align: center;
}

p {
  text-align: center;
}

img {
  width: 225px;
  height: 225px;
  border: 5px solid #191970;
  padding: 5px;
  border-radius: 20%;
  /*had to look up how to center the image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 50px;
}
h1, h2 {
  font-family: Rockwell;
  text-align: center;
}
.aboutme {
  background: #191970;
  color: white;
  /*also had to look this up too*/
  width: 400px; 
	margin-left: auto; 
	margin-right: auto; 
}

.aboutme a:link{
  color: #E4C051
}

.aboutme a:visited{
  color: #B4B4B6
}

.aboutme a:hover{
  color: #CCBBC1
}

.aboutme a:active{
  color: #FFFFFF
}

.contact {
  width: 400px; 
	margin-left: auto; 
	margin-right: auto;  
}

footer {
  height: 50px;
  padding-top: 1px
}

a {
  font-weight: bold;
}
a:link {
  color: #494947;
}
a:visited {
  color: #29613E:
}
a:hover {
  color: #191970;
}
a:active {
  color: #B4B4B6
}
