body {
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url(images/wallpapertip_navy-textured-wallpaper_387146.jpg);
  color: white;
  width: 100%;
}
header, footer, .portfolio{
  background-image: url(images/wallpapertip_wallpapers-metal_324832.jpg);
  width: 100%;
}
.header-name {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 80px;
  text-align: center;
  padding: 20px 0 0 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

nav ul li {
  list-style-type: none;
}


a {
  color: #fff;
  text-decoration: underline;
  padding: 0 20px 0 0;
  font-family: 'Black Han Sans', sans-serif;
}
#Thinkful {
  padding-right: 0;
}

header nav ul li a {
  text-decoration: none;
}
nav a:last-child {
  padding-right: 0;
}

hr {
  width: 80%
}


p {
  text-align: center;
  margin: 16px 10%;
}

h1 {
  font-size: 50px;
}
h1, h2, h3 {
  text-align: center;
  font-weight: bolder;
}

main img {
  width: auto;
  height: 100%;
}

img.rounded {
  border-radius: 8px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 16px 10%;
}
.portfolio .group .item{
  text-align: center;
}

footer p{
  margin: 0;
  padding: 10px 0;
}
@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
  /*main img {
    width: 100%;
    height: auto;
  }*/
  header nav {
    margin-top: 30px;
  }
  
  
}