html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-image: url(images/wallpapertip_navy-textured-wallpaper_387146.jpg);
  color: white;
  width: 100%;
}
header,
footer,
.portfolio {
  background-image: url(images/wallpapertip_wallpapers-metal_324832.jpg);
  width: 100%;
}
.header-name {
  font-family: "Nanum Brush Script", cursive;
  font-size: 80px;
  text-align: center;
  padding: 20px 0 0 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

nav ul li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: underline;
  padding: 0 20px 0 0;
  font-family: "Black Han Sans", sans-serif;
}

nav :last-child {
  padding-right: 0;
}
#Thinkful {
  padding-right: 0;
}

#menu li a {
  text-decoration: none;
  padding: 0 20px 0 0;
}

hr {
  width: 80%;
  margin: 0 auto;
}

p {
  text-align: center;
  margin: 16px 10%;
}

h1 {
  font-size: 50px;
}
h1,
h2,
h3 {
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.rounded {
  border-radius: 8px;
}

img {
  max-width: 300px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 16px 10%;
}
.portfolio .group .item {
  text-align: center;
}

.contact .group .item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 60%;
}
textarea {
  height: 200px;
}
input,
textarea,
.contact form button {
  color: black;
  width: 20%;
}
input,
textarea {
  width: 100%;
}
footer p {
  margin: 0;
  padding: 10px 0;
}

@media all and (min-width: 800px) {
  section {
    padding: 0 5%;
  }
  header,
  footer,
  .portfolio {
    width: auto;
  }
  .group {
    flex-direction: row;
  }
  .item {
    margin: 10px;
  }
  header nav {
    margin-top: 30px;
  }
  .aboutme .group .item {
    width: 45%;
  }
  .aboutme .group .item:last-of-type {
    text-align: center;
  }
  .portfolio .group {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .portfolio .group .item {
    width: 40%;
  }
  .portfolio .group .item p {
    margin: 10px;
  }
  .contact .group {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  form {
    margin: 0 0 0 8%;
  }
}
